__pycache__
*.swp
app_info_cache.json
app_media_track_cache
configs/*
!configs/config_example.json
library_data/data/*
!library_data/data/artists_example.json
!library_data/data/blacklist_example.json
!library_data/data/composers_example.json
!library_data/data/forms_example.json
!library_data/data/genres_example.json
!library_data/data/instruments_example.json
library_data/prose_data/*
library_data/wiki/*
muse_memory
temp*
!utils/temp_dir.py
tts_output/*
